.hljs {
  background: #333
}

body {
  background: #333;
  color: #C9D1D9
}

a {
  color: #58a6ff
}

code, pre {
  background-color: rgba(0, 0, 0, .1)
}

@media(max-width: 900px) {
  html.default .col-menu {
    background-color: #333
  }
}

.tsd-page-title {
  background: rgb(27, 27, 27)
}

@media(max-width: 900px) {
  #tsd-filter .tsd-filter-group {
    background-color: #333
  }
}

footer {
  border-top: 1px solid #333;
  background-color: #333
}

footer.with-border-bottom {
  border-bottom: 1px solid #333
}

.tsd-index-panel h3 {
  border-bottom: 1px solid #333
}

.tsd-flag {
  background-color: #394048
}

.tsd-navigation a {
  color: #fdfdfd
}

.tsd-navigation a:hover {
  color: #58a6ff
}

.tsd-navigation.primary>ul {
  border-bottom: 1px solid #222
}

.tsd-navigation.primary li {
  border-top: 1px solid #222
}

.tsd-navigation.secondary ul.current a {
  border-left-color: #222
}

.tsd-navigation.secondary li.current {
  border-left-color: #222
}

.tsd-panel {
  background-color: #222
}

.tsd-panel>h1, .tsd-panel>h2, .tsd-panel>h3 {
  border-bottom: 1px solid #333
}

#tsd-search .results li {
  background-color: #222
}

#tsd-search .results li:nth-child(even) {
  background-color: rgb(37, 37, 37)
}

#tsd-search .results li.current, #tsd-search .results li:hover {
  background-color: #444
}

#tsd-search.has-focus {
  background-color: #333
}

.tsd-signature {
  border: 1px solid #333
}

.tsd-signatures {
  border: 1px solid #333
}

.tsd-signatures .tsd-signature.current {
  background-color: #333
}

.tsd-page-toolbar {
  color: #fdfdfd;
  background: rgb(27, 27, 27);
  border-bottom: none
}

.tsd-page-toolbar a {
  color: #fdfdfd
}

.tsd-select .tsd-select-list li {
  background-color: #222
}

.tsd-select .tsd-select-list li:nth-child(even) {
  background-color: rgb(37, 37, 37)
}

.tsd-select .tsd-select-list li:hover {
  background-color: #444
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #333;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #333;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
