name: Release Coverage

on: 
  push:
    branches:
      - 'release'
  workflow_dispatch:

jobs:
  test:
    name: Fully test and upload coverage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        ref: 'release'
    - uses: actions/setup-node@v6
      with:
        node-version: '20.19.5'
    - name: Test and generate coverage
      uses: borales/actions-yarn@v5
      with:
        cmd: coverage:all
      env:
        YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
        YOUTUBE_OAUTH_API_KEY: ${{ secrets.YOUTUBE_OAUTH_API_KEY }}
        YOUTUBE_ACCESS_TOKEN: ${{ secrets.YOUTUBE_ACCESS_TOKEN }}
        YOUTUBE_CAPTION_VIDEO_ID: uSCIlsJXATc
        YOUTUBE_OAUTH_VIDEO_ID: uSCIlsJXATc
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage/coverage-final.json
        override_branch: release
