name: Test

on: [push, pull_request]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1.4.2
      with:
        node-version: '12.12.0'
    - name: Install Deps
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        yarn
    - name: Lint
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        yarn lint
    - name: Test
      env:
        YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        yarn coverage
