name: Test

on:
  push:
    branches:
      - 'master'

jobs:
  lint:
    name: Lint and type check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3.9.1
      with:
        node-version: '20.5.0'
    - name: Lint
      uses: borales/actions-yarn@v4
      with:
        cmd: lint
    - name: Build typings (type check)
      uses: borales/actions-yarn@v4
      with:
        cmd: build
    - name: Test build of documentatation
      uses: borales/actions-yarn@v4
      with:
        cmd: docs:build
  test:
    name: Test and upload coverage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3.9.1
      with:
        node-version: '20.5.0'
    - name: Test and generate coverage
      uses: borales/actions-yarn@v4
      with:
        cmd: coverage
      env:
        YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage/coverage-final.json
