name: CI

on:
  release:
    types: [released]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2.1.5
      with:
        node-version: '12.12.0'
    - name: Install Deps
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        yarn
    - name: Publish Package
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        echo Publishing to npm...
        yarn publish
    - name: Build Docs
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        yarn docs
    - name: Publish Docs
      uses: JamesIves/github-pages-deploy-action@4.1.3
      with:
        token: ${{ secrets.GIT_ACCESS_TOKEN }}
        branch: gh-pages
        folder: docs
        commit-message: 'docs: CI build'
        git-config-email: shadowmanguyyt@gmail.com
