name: CI

on: [release]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1.4.2
      with:
        node-version: '12.12.0'
    - name: Install Deps
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        yarn
    - name: Publish Package
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        echo Publishing to npm...
        yarn publish
    - name: Build Docs
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        yarn docs
    - name: Publish Docs
      uses: JamesIves/github-pages-deploy-action@3.5.1
      with:
        ACCESS_TOKEN: ${{ secrets.GIT_ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: docs
        COMMIT_MESSAGE: 'docs: CI build'
        GIT_CONFIG_EMAIL: shadowmanguyyt@gmail.com
